<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <h1 class="card-header">Create Category</h1>

            <form action="/admin/category/create" method="post" class="form-control">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input name="name" type="text" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">image</label>
                    <input name="image" type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <label for="exampleInputPassword1" class="form-label">Status</label>
                    <select name="status" class="form-control" id="exampleInputPassword1">
                        <option value="false" selected>Inactive</option>
                        <option value="true">Active</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>
