<section class="hero-section position-relative padding-large"
         style="background-image: url(images/banner-image-bg-1.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; height: 400px;">
    <div class="hero-content">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1>Contact</h1>
                    <div class="breadcrumbs">
              <span class="item">
                <a href="/">Home > </a>
              </span>
                        <span class="item text-decoration-underline">Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br>

<section id="our-store" class="padding-large pt-0">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-lg-6">
                <div class="image-holder mb-5">
                    <img src="images/single-image2.jpg" alt="our-store" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="locations-wrap ms-lg-5">
                    <div class="display-header">
                        <h3>Our stores</h3>
                        <p class="mb-5">You can directly buy products from our stores.</p>
                    </div>

                       <div class="location-content d-flex flex-wrap">
                    {{#each contacts}}
                           <div class="col-lg-6 col-sm-12">
                               <div class="content-box text-dark pe-4 mb-5">
                                   <h5 class="fw-bold">{{country}}</h5>
                                   <div class="contact-address pt-3">
                                       <p>{{address}}</p>
                                   </div>
                                   <div class="contact-number">
                                       <p>
                                           <a href="#">{{phone}}</a>
                                       </p>
                                   </div>
                                   <div class="email-address">
                                       <p>
                                           <a href="#">{{email}}</a>
                                       </p>
                                   </div>
                               </div>
                           </div>
                    {{/each}}
                       </div>

                </div>
            </div>
        </div>
    </div>
</section>

